#bodyWrapperDevelop_12col {
  background: url("developer_12_col.gif") repeat-y scroll 0 0 transparent;
}

#bodyWrapperDevelop_16col {
  background: url("developer_16_col.gif") repeat-y scroll 0 0 transparent;
}

#bodyWrapperDevelop_24col {
  background: url("developer_24_col.gif") repeat-y scroll 0 0 transparent;
}